<% orgeln.each_with_index do |orgel, index| %>
<h2>Die Orgel der <%= orgel.standort["Kirche"] %> in <%= orgel.standort["Ort"] %></h2>

<p><%= ERB::Util.html_escape(orgel.full_builder_info) %></p>

<table cellspacing="20"><tr valign="top">
  <% orgel.klaviaturen.each do |klaviatur| %>
  <% name = klaviatur["Name"] -%>
  <% umfang = klaviatur["Umfang"] ? " (#{klaviatur["Umfang"]})" : "" -%>
  <td>
    <table cellspacing="5">
      <tr><th colspan="2" align="left">
        <%= name + umfang %>
      </th></tr>
      <% klaviatur["Register"].each do |reg| -%>
      <% name = (reg["Name"] == "Tremulant" ? "<em>Tremulant</em>" : reg["Name"]) -%>
      <% choere = reg["Choere"] ? " " + reg["Choere"] + "f." : "" -%>
      <% vorabzug = reg["Vorabzug_von"] ? " (Vorabzug)" : "" -%>
      <% lage = reg["Lage"] ? reg["Lage"] + "'" : "" -%>
      <tr><td><%= name + choere + vorabzug %></td><td><%= lage %></td></tr>
      <% end -%>
    </table>
  </td>
  <% end %>
</tr></table>

<p>Koppeln: <%= orgel.koppeln %></p>

<% orgel.bemerkungen.each do |bemerkung| -%>
<p><%= bemerkung %></p>
<% end -%>

<% unless index == orgeln.size - 1 -%>
<div class="centered">[<a href="#top">nach oben</a>]</div>

<hr>
<% end -%>
<% end %>
