---
layout: main-orgeldb
title: <%= orgel.full_name %>
date: <%= last_modified || "null" %>
---

<p><%= ERB::Util.html_escape(orgel.full_builder_info) %></p>

<table class="disposition"><tr>
  <% orgel.klaviaturen.each do |klaviatur| %>
  <td>
    <table class="klaviatur">
      <tr><th colspan="2"><%= klaviatur.info %></th></tr>

      <% klaviatur.register.each do |reg| -%>
      <% if reg.tremulant? -%>
      <tr><td><em>Tremulant</em></td><td></td></tr>
      <% else -%>
      <tr><td><%= reg.info %></td><td><%= reg.lage_mit_fuss %></td></tr>
      <% end -%>
      <% end -%>
    </table>
  </td>
  <% end %>
</tr></table>

<p>Koppeln: <%= orgel.koppeln %></p>

<% orgel.bemerkungen.each do |bemerkung| -%>
<p><%= bemerkung %></p>
<% end -%>
